li{
    margin-right: 20px
}
#login{
    margin-right:30px 
}
#inicio{
    margin-left:30px 
}
.contenedor1{
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 35%;
}

.vl {
    border-right: 2px solid grey;
    height: 100%;
}